<a href="https://colab.research.google.com/github/mwasalski/Data_Science_Bootcamp/blob/main/%C5%82%C4%85czenie_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:

def fetch_financial_data(company='AMZN'):
    """
    This function fetch stock market quotations.
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

apple = fetch_financial_data('AAPL')
amazon = fetch_financial_data('AMZN')
google = fetch_financial_data('GOOGL')
uber = fetch_financial_data('UBER')

###Preprocesing

In [3]:
apple.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1258 entries, 2023-03-03 to 2018-03-06
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    1258 non-null   float64
 1   High    1258 non-null   float64
 2   Low     1258 non-null   float64
 3   Close   1258 non-null   float64
 4   Volume  1258 non-null   float64
dtypes: float64(5)
memory usage: 59.0 KB

In [4]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 961 entries, 2023-03-03 to 2019-05-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    961 non-null    float64
 1   High    961 non-null    float64
 2   Low     961 non-null    float64
 3   Close   961 non-null    float64
 4   Volume  961 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 45.0 KB

In [5]:
apple.head()

               Open      High     Low   Close      Volume
Date
2023-03-03  148.045  151.1100  147.33  151.03  70732297.0
2023-03-02  144.380  146.7100  143.90  145.91  52279761.0
2023-03-01  146.830  147.2285  145.01  145.31  55478991.0
2023-02-28  147.050  149.0800  146.83  147.41  50546998.0
2023-02-27  147.710  149.1700  147.45  147.92  44998470.0

In [6]:
apple.columns = ['apple_' + col.lower() for col in apple.columns]
amazon.columns = ['amazon_' + col.lower() for col in amazon.columns]
google.columns = ['google_' + col.lower() for col in google.columns]
uber.columns = ['uber_' + col.lower() for col in uber.columns]

In [7]:
apple.head()

            apple_open  apple_high  apple_low  apple_close  apple_volume
Date
2023-03-03     148.045    151.1100     147.33       151.03    70732297.0
2023-03-02     144.380    146.7100     143.90       145.91    52279761.0
2023-03-01     146.830    147.2285     145.01       145.31    55478991.0
2023-02-28     147.050    149.0800     146.83       147.41    50546998.0
2023-02-27     147.710    149.1700     147.45       147.92    44998470.0

In [9]:
df_all = pd.concat(objs = [apple, amazon, google, uber], axis = 1)

In [16]:
pd.set_option('display.float_format', lambda x : f'{x:.2f}')

df_all.describe().T

,count,mean,std,min,25%,50%,75%,max
apple_open,1258.00,100.20,46.19,34.74,50.92,112.39,143.43,181.58
apple_high,1258.00,101.43,46.79,35.16,51.58,113.77,145.69,181.88
apple_low,1258.00,99.04,45.60,34.26,50.50,110.60,142.12,178.09
apple_close,1258.00,100.29,46.22,34.31,51.03,111.57,144.25,180.96
apple_volume,1258.00,116232373.77,55698128.37,35195860.00,78957062.07,100763567.31,136413053.71,434708544.96
amazon_open,1258.00,120.83,34.67,67.30,90.05,108.11,158.33,187.20
amazon_high,1258.00,122.30,35.03,69.80,90.85,110.89,159.93,188.65
amazon_low,1258.00,119.21,34.26,65.35,89.03,106.35,156.22,184.84
amazon_close,1258.00,120.76,34.60,67.20,89.99,108.22,158.09,186.57
amazon_volume,1258.00,85097840.21,39528141.16,17626740.00,58403601.75,73669230.00,100143783.50,311345660.00
google_open,1258.00,87.00,30.31,49.22,59.70,76.05,112.62,151.25
google_high,1258.00,87.99,30.60,50.61,60.18,76.99,114.01,151.55
google_low,1258.00,86.03,29.95,48.88,59.10,75.37,111.44,148.90
google_close,1258.00,87.03,30.27,49.23,59.68,75.95,112.70,149.84
google_volume,1258.00,35264741.35,15916016.73,9312760.00,25160045.00,31440440.00,40246905.00,133177100.00
uber_open,961.00,37.20,9.74,15.96,29.84,34.68,44.10,63.25
uber_high,961.00,37.97,9.81,17.80,30.44,35.25,44.80,64.05
uber_low,961.00,36.37,9.58,13.71,29.21,33.89,43.31,60.80
uber_close,961.00,37.17,9.68,14.82,29.93,34.61,43.91,63.18
uber_volume,961.00,25561965.18,16576071.52,3380003.00,15741030.00,21852813.00,30725371.00,186322536.00

In [18]:
df_all.corr()

,apple_open,apple_high,apple_low,apple_close,apple_volume,amazon_open,amazon_high,amazon_low,amazon_close,amazon_volume,google_open,google_high,google_low,google_close,google_volume,uber_open,uber_high,uber_low,uber_close,uber_volume
apple_open,1.00,1.00,1.00,1.00,-0.36,0.75,0.75,0.74,0.75,-0.29,0.92,0.92,0.92,0.92,-0.11,0.08,0.08,0.08,0.08,0.11
apple_high,1.00,1.00,1.00,1.00,-0.35,0.75,0.75,0.74,0.74,-0.29,0.92,0.92,0.92,0.92,-0.11,0.08,0.08,0.08,0.08,0.11
apple_low,1.00,1.00,1.00,1.00,-0.37,0.75,0.75,0.74,0.75,-0.30,0.92,0.93,0.92,0.92,-0.12,0.08,0.09,0.09,0.09,0.11
apple_close,1.00,1.00,1.00,1.00,-0.36,0.75,0.75,0.74,0.75,-0.29,0.92,0.92,0.92,0.92,-0.12,0.08,0.08,0.08,0.08,0.11
apple_volume,-0.36,-0.35,-0.37,-0.36,1.00,-0.19,-0.19,-0.20,-0.20,0.57,-0.40,-0.40,-0.41,-0.40,0.46,-0.17,-0.16,-0.19,-0.17,0.23
amazon_open,0.75,0.75,0.75,0.75,-0.19,1.00,1.00,1.00,1.00,-0.24,0.78,0.78,0.79,0.78,-0.14,0.59,0.59,0.59,0.59,-0.04
amazon_high,0.75,0.75,0.75,0.75,-0.19,1.00,1.00,1.00,1.00,-0.22,0.79,0.78,0.79,0.79,-0.14,0.58,0.58,0.58,0.58,-0.03
amazon_low,0.74,0.74,0.74,0.74,-0.20,1.00,1.00,1.00,1.00,-0.25,0.78,0.78,0.78,0.78,-0.16,0.60,0.60,0.60,0.60,-0.05
amazon_close,0.75,0.74,0.75,0.75,-0.20,1.00,1.00,1.00,1.00,-0.24,0.78,0.78,0.79,0.78,-0.15,0.59,0.59,0.59,0.59,-0.04
amazon_volume,-0.29,-0.29,-0.30,-0.29,0.57,-0.24,-0.22,-0.25,-0.24,1.00,-0.31,-0.31,-0.32,-0.32,0.55,-0.17,-0.16,-0.19,-0.18,0.24
google_open,0.92,0.92,0.92,0.92,-0.40,0.78,0.79,0.78,0.78,-0.31,1.00,1.00,1.00,1.00,-0.15,0.24,0.24,0.24,0.24,0.10
google_high,0.92,0.92,0.93,0.92,-0.40,0.78,0.78,0.78,0.78,-0.31,1.00,1.00,1.00,1.00,-0.15,0.23,0.24,0.24,0.23,0.10
google_low,0.92,0.92,0.92,0.92,-0.41,0.79,0.79,0.78,0.79,-0.32,1.00,1.00,1.00,1.00,-0.17,0.25,0.25,0.25,0.25,0.09
google_close,0.92,0.92,0.92,0.92,-0.40,0.78,0.79,0.78,0.78,-0.32,1.00,1.00,1.00,1.00,-0.16,0.24,0.24,0.24,0.24,0.10
google_volume,-0.11,-0.11,-0.12,-0.12,0.46,-0.14,-0.14,-0.16,-0.15,0.55,-0.15,-0.15,-0.17,-0.16,1.00,-0.16,-0.15,-0.17,-0.16,0.28
uber_open,0.08,0.08,0.08,0.08,-0.17,0.59,0.58,0.60,0.59,-0.17,0.24,0.23,0.25,0.24,-0.16,1.00,1.00,1.00,0.99,-0.21
uber_high,0.08,0.08,0.09,0.08,-0.16,0.59,0.58,0.60,0.59,-0.16,0.24,0.24,0.25,0.24,-0.15,1.00,1.00,1.00,1.00,-0.19
uber_low,0.08,0.08,0.09,0.08,-0.19,0.59,0.58,0.60,0.59,-0.19,0.24,0.24,0.25,0.24,-0.17,1.00,1.00,1.00,1.00,-0.23
uber_close,0.08,0.08,0.09,0.08,-0.17,0.59,0.58,0.60,0.59,-0.18,0.24,0.23,0.25,0.24,-0.16,0.99,1.00,1.00,1.00,-0.21
uber_volume,0.11,0.11,0.11,0.11,0.23,-0.04,-0.03,-0.05,-0.04,0.24,0.10,0.10,0.09,0.10,0.28,-0.21,-0.19,-0.23,-0.21,1.00

In [20]:
df_all.columns

Index(['apple_open', 'apple_high', 'apple_low', 'apple_close', 'apple_volume',
       'amazon_open', 'amazon_high', 'amazon_low', 'amazon_close',
       'amazon_volume', 'google_open', 'google_high', 'google_low',
       'google_close', 'google_volume', 'uber_open', 'uber_high', 'uber_low',
       'uber_close', 'uber_volume'],
      dtype='object')

In [22]:
closes = [col for col in df_all.columns if col.endswith('close')]
closes

['apple_close', 'amazon_close', 'google_close', 'uber_close']

In [23]:
df_all[closes]

            apple_close  amazon_close  google_close  uber_close
Date
2018-03-06        42.16         76.88         55.05         NaN
2018-03-07        41.78         77.25         55.75         NaN
2018-03-08        42.23         77.59         56.47         NaN
2018-03-09        42.96         78.94         58.04         NaN
2018-03-12        43.37         79.92         58.30         NaN
...                 ...           ...           ...         ...
2023-02-27       147.92         93.76         89.87       33.55
2023-02-28       147.41         94.23         90.06       33.26
2023-03-01       145.31         92.17         90.36       32.99
2023-03-02       145.91         92.13         92.00       33.69
2023-03-03       151.03         94.90         93.65       34.57

[1258 rows x 4 columns]

In [25]:
df_all[closes].corr()

              apple_close  amazon_close  google_close  uber_close
apple_close          1.00          0.75          0.92        0.08
amazon_close         0.75          1.00          0.78        0.59
google_close         0.92          0.78          1.00        0.24
uber_close           0.08          0.59          0.24        1.00

In [26]:
closes = [col for col in df_all.columns if col.endswith('close') or col.endswith('volume')]
closes

['apple_close',
 'apple_volume',
 'amazon_close',
 'amazon_volume',
 'google_close',
 'google_volume',
 'uber_close',
 'uber_volume']

In [27]:
df_all[closes].corr()

,apple_close,apple_volume,amazon_close,amazon_volume,google_close,google_volume,uber_close,uber_volume
apple_close,1.00,-0.36,0.75,-0.29,0.92,-0.12,0.08,0.11
apple_volume,-0.36,1.00,-0.20,0.57,-0.40,0.46,-0.17,0.23
amazon_close,0.75,-0.20,1.00,-0.24,0.78,-0.15,0.59,-0.04
amazon_volume,-0.29,0.57,-0.24,1.00,-0.32,0.55,-0.18,0.24
google_close,0.92,-0.40,0.78,-0.32,1.00,-0.16,0.24,0.10
google_volume,-0.12,0.46,-0.15,0.55,-0.16,1.00,-0.16,0.28
uber_close,0.08,-0.17,0.59,-0.18,0.24,-0.16,1.00,-0.21
uber_volume,0.11,0.23,-0.04,0.24,0.10,0.28,-0.21,1.00

###Append

In [29]:
uber.head()

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2023-03-03      34.00      34.59     33.80       34.57     14990366
2023-03-02      32.54      33.80     32.23       33.69     17976269
2023-03-01      33.43      33.58     32.89       32.99     14404671
2023-02-28      33.75      34.00     33.16       33.26     17144021
2023-02-27      33.67      33.85     33.06       33.55     19079075

In [30]:
uber_6 = uber[uber.index.month == 6]

In [31]:
uber_6

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30      21.11      21.13     19.89       20.46     30882454
2022-06-29      22.11      22.15     21.08       21.47     30704792
2022-06-28      22.97      23.46     22.04       22.08     24360150
2022-06-27      23.45      23.64     22.34       22.86     27153354
2022-06-24      22.48      23.19     22.30       23.03     38140098
...               ...        ...       ...         ...          ...
2019-06-07      44.92      45.67     44.13       44.16     12654670
2019-06-06      45.00      45.75     44.28       44.92     16403691
2019-06-05      42.87      45.66     42.50       45.00     28609604
2019-06-04      42.56      42.88     40.70       42.75     23432141
2019-06-03      40.74      41.85     40.24       41.25     16605261

[85 rows x 5 columns]

In [32]:
uber_7 = uber[uber.index.month == 7]

In [33]:
uber_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-07-29      23.18      23.48     22.39       23.45     29406649
2022-07-28      22.89      23.42     22.14       23.31     22886075
2022-07-27      23.00      23.32     22.49       23.09     28384348
2022-07-26      23.15      23.15     22.45       22.55     24402801
2022-07-25      23.27      23.54     22.63       23.35     12923042
...               ...        ...       ...         ...          ...
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

[85 rows x 5 columns]

In [35]:
uber_6_7 = uber_6.append(uber_7)

In [36]:
uber_6_7

            uber_open  uber_high  uber_low  uber_close  uber_volume
Date
2022-06-30      21.11      21.13     19.89       20.46     30882454
2022-06-29      22.11      22.15     21.08       21.47     30704792
2022-06-28      22.97      23.46     22.04       22.08     24360150
2022-06-27      23.45      23.64     22.34       22.86     27153354
2022-06-24      22.48      23.19     22.30       23.03     38140098
...               ...        ...       ...         ...          ...
2019-07-08      43.59      43.85     42.75       42.95      9304101
2019-07-05      44.31      44.55     43.01       43.53      8239452
2019-07-03      44.00      44.46     43.79       44.23      3380003
2019-07-02      44.55      44.68     43.75       44.00     11881274
2019-07-01      46.98      47.04     44.06       44.27     17739998

[170 rows x 5 columns]